@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To Expanse Insight</h3>
    <br />
    <br />
    <div class="left">
        <b>Experience the wonder of the Expanse like never before with our advanced tracking system.</b>
        <br /><br />
        <h5><a asp-action="Index" asp-controller="Category"><button>Let's Start</button></a></h5>
    </div>
    <div class="right">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/expense-management-4268366-3561009.png" width="120%" height="120%"/>
       
    </div>

    
</div>

<br>
<br>
<div class="text-center">
    <div class="right1">
        <b>Stay connected to every celestial movement, from the twinkling stars to the majestic planets. With Expanse Tracker, you can chart your course through the infinite cosmos and witness the cosmic dance unfolding before your eyes.</b>
        <br /><br />
        <h5><a asp-action="Index" asp-controller="Category"><button>Explore</button></a></h5>
    </div>
    <div class="left1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5VAwkVikRFqqwDbLQEDL6QGowlTgYPL9FifQiBZztbTlhO8O_X1iuwZHsd2uWVUt9FJQ&usqp=CAU" width="120%" height="120%" />

    </div>
    <div></div>
   
    <br>
    <br>
    <br>
    <br>


</div>
<style>
    .left{
        float:left;
        margin-top: 130px;
        margin-left:12%;
        margin-right:20%;
        height:50%;
        width:30%;
        
    }

    .right {
        float: left;
        margin-top: 10px;
        height: 50%;
        width: 30%;
        
    }

    .right1{
        margin-top: 60px;
        height: 50%;
        width: 30%;
        float:right;
        margin-right:10%
    }

    .left1{
        
        float:left;
        margin-left:10%

    }
</style>
